html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
p,
a {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: whitesmoke;
}

#navbar {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.5rem;
  background: linear-gradient(
    105deg,
    rgba(81, 128, 138, 1) 41%,
    rgba(166, 34, 195, 1) 93%
  );
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#navbar button {
  background: transparent;
  border: none;
  margin-right: 1rem;
}

#navbar button:hover {
  box-shadow: 5px 5px 5px 5px black;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    66deg,
    rgba(81, 107, 138, 1) 51%,
    rgba(34, 99, 195, 1) 80%
  );
}

#welcome-section h1 {
  font-size: 4rem;
}

#welcome-section p {
  font-size: 2rem;
}

#projects {
  padding-top: 3rem;
  padding-bottom: 4rem;
  text-align: center;
  background: linear-gradient(
    48deg,
    rgba(219, 131, 143, 1) 24%,
    rgba(201, 170, 162, 1) 61%
  );
}

#project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  width: 75%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 1rem auto 1rem auto;
}

.project-tile {
  background: linear-gradient(
    48deg,
    rgba(255, 172, 183, 1) 24%,
    rgba(221, 208, 208, 1) 61%
  );
}

.project-tile a {
  text-decoration: none;
}

.project-tile:hover {
  box-shadow: 20px 20px 30px 10px black;
}

.project-tile img {
  width: 80%;
  height: auto;
  padding: 1rem;
}

#projects h2 {
  text-emphasis: bold;
  font-size: 2rem;
}

#profile-link {
  text-decoration: none;
  padding: 0.5rem;
  background: linear-gradient(
    48deg,
    rgba(255, 172, 183, 1) 24%,
    rgba(221, 208, 208, 1) 61%
  );
}

#profile-link:hover {
  box-shadow: 5px 5px 10px black;
}

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;

  text-align: center;
  background: linear-gradient(
    66deg,
    rgba(81, 107, 138, 1) 51%,
    rgba(34, 99, 195, 1) 80%
  );
}

#contact-title {
  margin-bottom: 1rem;
}

#contact h2 {
  font-size: 3rem;
  font-style: italic;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.contact-details {
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem 0 1rem;
  transition: transform 0.5s;
}

.contact-details:hover {
  transform: translateY(10px);
}

@media only screen and (max-width: 600px) {
  #project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    width: 75%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem auto 1rem auto;
  }
}